.side{
    width: 300px;
    margin-left: 100px;
    padding: 20px;
}
.side .header h1{
    font-size: 22px;
}
.side .header h5{
    text-align: left;
}
.side .filters{
    text-align: left;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.side .filters .filtersHead{
    display: flex;
    justify-content: space-between;
}
.side .DropDown{
    padding: 10px;
}
.side .filters .filtersHead h5{
    font-size: 12px;
    color: gray;
}
.side .filters a{
    color: gray;
    text-decoration: none;
}
.side .filters .drop{
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 14px;
}